.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnLinks {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    border-radius: 5px;
    margin-bottom: 20px;
}